<IfModule mod_headers.c>
  <FilesMatch "\.js$">
    Header set Content-Type "application/javascript"
  </FilesMatch>
  <FilesMatch "\.css$">
    Header set Content-Type "text/css"
  </FilesMatch>
  <FilesMatch "\.svg$">
    Header set Content-Type "image/svg+xml"
  </FilesMatch>
</IfModule>

AddType application/javascript .js
AddType application/javascript .mjs
AddType text/css .css
AddType image/svg+xml .svg

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /hitmail/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
